{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand"><img src="{% static 'imagens/logo-minhas-financas.png' %}"
                style="height: 60px"></a>

        <!-- Menu hamburguer-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacao"
            arial-controls="barraNavegacao" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navegação -->
        <div class="collapse navbar-collapse ms-auto" id="barraNavegacao">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="" class="nav-link">Cadastrar</a></li>
                <li class="nav-item"><a href="" class="nav-link">Consultar</a></li>
            </ul>
        </div>
    </div>

</nav>